<div class="container">
  <div class="center-block">
    <h1>Edit <%= @cocktail.name %></h1>
    <%= link_to @cocktail, class: 'card-user white' do %> <i class="fa fa-search"></i> View cocktail <% end %>
    <br>

    <%= render 'form', cocktail: @cocktail %>
    <%= link_to 'Back', cocktails_path, class: 'btn btn-primary' %>
  </div>
</div>
