<div class="container mt-3">

      <div class="center-content">
        <h1 id="top">Add a new cocktail</h1>
        <%= render 'form', cocktail: @cocktail %>
        <%= link_to 'Back', cocktails_path, class: 'btn btn-primary'%>
      </div>
</div>
